# --- ENV FILES -----------------------------------------------------
.env
 

# --- UNITY FOLDER TO EXCLUDE ---------------------------------------
SketchupToVRViewer/
SketchupToVRViewer/*
SketchupToVRViewer/**
