# --- ENV FILES -----------------------------------------------------

 

# --- UNITY FOLDER TO EXCLUDE ---------------------------------------
SketchupToVRViewer/
SketchupToVRViewer/*
SketchupToVRViewer/**
